/*speech class*/
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    color: black;
}

/*direction class*/
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 9;
    color: black;
    background-color: lightgray;
}
.direction:hover{
    color: white;
    background-color: black;
}

/*name class*/
.ant{color:red;}
.ant:hover{
    text-shadow: 2px 2px 8px darkred;
    border: 2px solid darkred;}
.cr{color: blue;}
.cr:hover{
    text-shadow: 2px 2px 8px darkblue;
    border: 2px solid darkblue;}
.ch{color: green;}
.ch:hover{
    text-shadow: 2px 2px 8px darkgreen;
    border: 2px solid darkgreen;}
.ism{color: purple;}
.ism:hover{
    text-shadow: 2px 2px 8px darkorchid;
    border: 2px solid darkorchid;}